<div class="main-container">
    <div class="bloq1">
        <div class="flex-1-5"></div>
        <div class="band"></div>
        <div class="flex-1-5"></div>
    </div>
    <div class="bloq2">
        <div class="flex-1"></div>
        <div class="container-form">
            <app-form></app-form>
        </div>
        <div class="flex-1"></div>
    </div>
    <div class="bloq3">
        <div class="flex-1-5"></div>
        <div class="band info">
            <span>El único que toma un riesgo con el seguro de automotriz es aquel que no lo toma.</span>
        </div>
        <div class="flex-1-5"></div>
    </div>
</div>